{% extends "base.html" %}
{% set active='index' %}
{% block content %} 
  <style>@import url('https://fonts.googleapis.com/css?family=Cabin');</style> 

  <!-- HOME/Landing Page-->
  <div id="home" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Developer/ Engineer</h1>
          <h6></h6>
        </div>
      </div>
    </div>
  </div>

  <!-- ABOUT -->
  <div id="about" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-lg-7">
          <h1>ABOUT</h1>
          <blockquote>
            <p>The word adventure has gotten overused. 
            For me, when everything goes wrong– that’s when adventure starts.” 
            – Yvon Chouinard, 180° South
            </p>
          </blockquote>
        </div>
        <div class="col-sm-4 col-lg-5 hidden-xs">
        <img src="{{ url_for('static', filename='img/cam_exhibit.png') }}" alt="" class="pull-right img-responsive">
        </div>
      </div>
    </div>    
  </div>
  <!-- PORTFOLIO -->
  <div id="portfolio" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>PORTFOLIO</h1>
          <p class="lead">Below you'll find some of my recent work.</p>
        </div>
      
        {% for page in pages %}
          <a id="relation" href="{{url_for('page',path=page.path)}}">
            <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="{{  url_for('static',filename='img/'+page.meta.cover_image) }}" alt="Project Dummy">
            <div class="caption">
              <h4>{{ page.meta.title }}</h4>
              <p>{{ page.meta.date }}</p>
              <p>{{ page.meta.abstract }}</p>
            </div>
            </div>
          </div>
          </a>           
        {% endfor %}

      </div>
    </div>
  </div>

  <!-- CONTACT -->
  <div id="contact" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>CONTACT</h1>
          <p class="lead">Don't be shy! Say Hello!</p>
          <div class="social-cont">
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-default btn-lg linkedin-btn" href="https://www.linkedin.com/in/chapnickc/" role="button" target="_blank"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                <a class="btn btn-default btn-lg instagram-btn" href="https://www.instagram.com/chaddychap/" role="button" target="_blank"><i class="fa fa-instagram"></i><span>Instagram</span></a>
                <a class="btn btn-default btn-lg github-btn" href="https://github.com/chapnickc" role="button" target="_blank"><i class="fa fa-github"></i><span>Github</span></a>
                <a class="btn btn-default btn-lg github-btn" href="https://chapnickc.github.io/chapnickc.github.io/static/pdf/chapnickc_resume.pdf" role="button" target="_blank"><i class="fa fa-star"></i><span>Resume</span></a>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
