{% extends "base.html" %}
{% block content %}
  <div id='page' class='content-section'>
    <h1>{{ page.meta.title }}</h1>
    <p>{{ page.meta.date }}</p>
  {{ page|safe }}
  </div>
{% endblock %}
<!--<footer id="footer" class="dark-wrapper">-->
  <!--<section class="ss-style-top"></section>-->
  <!--<div class="container inner">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-6">-->
        <!--<div class="social-footer">-->
          <!--<a href="https://www.instagram.com/chaddychap/" class="fa fa-instagram tooltipped" title="Instagram"></a>-->
          <!--<a href="https://www.linkedin.com/in/chapnickc" class="fa fa-linkedin-square tooltipped" title="LinkedIn"></a>-->
          <!--<a href="https://github.com/chapnickc" class="fa fa-github-square tooltipped" title="GitHub"></a>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-sm-6">-->
        <!--&copy; Copyright Chad Chapnick 2017. All rights reserved.-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>[> /.container <]-->
<!--</footer>-->
