
html, body {
  background-color: #202020;
}

pre, h1 {
  color: #f0f0f0
}

.Menu {
  background-color: #1e1e1e;
  color: #f0f0f0;
  margin-bottom: 5vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Menu > .card, .list-group, .list-group-item {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

.Menu-full-name {
  font-size:  calc(15px + 2vmin);
  margin-bottom: 0px;
  color:  #f0f0f0;
}

.card-link {
  color: #1a8cff;
}

.Project-image {
  max-width: 100%;
}

/*.card-link:hover { color: #ffc000; }*/


.Main {
  background-color: #202020;
  color: #f0f0f0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5vh;
}


.Main-title, .card-title {
  font-size:  calc(20px + 2vmin);
  color: #f0f0f0;
}








.App-logo {
  display: inline;
  height: 4vmin;
  /*pointer-events: none;*/
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



