.App-logo { display: inline; height: 4vmin; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body { background-color: #202020; }

pre, h1 { color: #f0f0f0 }

.Main .card-title { font-size:  calc(18px + 2vmin); color: #f0f0f0; }*/

.Profile-image { 
  max-height: 22vh; 
  display: inline;
  float: right;
}

.Project-image {
    max-width: 100%;
    max-height: 50vh;
}

.Main {
  background-color: #171717;
  color: #f0f0f0;
  margin-bottom: 5vh;
  /*box-shadow: 0 1em 1em 0 rgba(0, 0, 0, 0.2), 0.1em 1.5em 1em 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 0.5em .75em 2em 0 rgba(0, 0, 0, 0.2);
}

.Main:hover {
  box-shadow: 0.5em .75em 2em 0 rgba(0, 0, 0, 0.3);
}

.Menu {
  background-color: #171717;
  color: #f0f0f0;
  margin-bottom: 5vh;
  box-shadow: 0 1em 1em 0 rgba(0, 0, 0, 0.2), 0 1.5em 1em 0 rgba(0, 0, 0, 0.19);
}

.Menu > .card, .list-group, .list-group-item {
  background-color: #171717;
  color: #f0f0f0;
}

.Menu-full-name {
  font-size:  calc(15px + 2vmin);
  margin-bottom: 0px;
  color: #4ecca3;
}

.Menu-full-name:hover { color:  #cc4e77; text-decoration: none;}
.Menu-item { color: #f0f0f0; } /* #ffc000 */
.Menu-item:hover { color:  #cc4e77; text-decoration: none;}




